.barra_roja_back {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	background-image: url(../images/barras/roja_middle.jpg);
	color: #ffffff;
}

.corto_genero {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 9px;
	color: #000000;
}

.corto_titulo {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	color: #000000;
}

.corto_director {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px;
	font-style: italic;
	color: #000000;
}

.corto_sinopsis {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 9px;
	color: #000000;
}

.corto_fecha {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px;
	color: #000000;
}

.corto_destacado_genero {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 9px;
	color: #878384;
}

.corto_destacado_titulo {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	color: #878384;
}

.corto_destacado_director {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px;
	font-style: italic;
	color: #878384;
}

.corto_destacado_sinopsis {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 9px;
	color: #878384;
}






.espacio {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 4px;
}

.corto_ficha {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px;
	color: #333333;
}

.videoentrevista_datos {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px;
	color: #333333;
}

.videoentrevista_bajada {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	color: #333333;
}

.barra_comentarios {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	color: #ffffff;
	background-image: url(../images/barras/gris_middle.jpg);
}

.foro_contenido {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px;
	color: #615F60;
	background-color: #E2E2E2;
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #9C9C9C;
}

.foro_fondo_contenido {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px;
	color: #615F60;
	background-color: #E2E2E2;
}

.foro_fondo_input {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	color: #828282;
	background-color: #FFFFFF;
}

.foro_input {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	color: #7F7F7F;
	width: 100%;
	border: 0;
	background-color: #F1F1F1;
	overflow: hidden;
}

.calidad {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	color: #000000;
	cursor: pointer;
}

.calidad_seleccionada {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	color: #7F7F7F;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #000000;
	cursor: none;
}

.pointer {
	cursor: pointer;
}

.corto_titulo_azar {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px;
	color: #000000;
}

.corto_titulo_azar:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px;
	color: #000000;
	text-decoration: underline;
}

.azar_over {
	background-color: #F1F1F1;
}

.azar {
	background-color: #E2E2E2;
}

