<form name="form" method="post" action="?" enctype="multipart/form-data">
<input type="hidden" name="idficha" value="{ficha.id}">
<input type="hidden" name="event" value="upload_foto">
       
<table width="1%" border="0" cellpadding="4" cellspacing="0">
<tr>
	<td align="right" class="contenidos_light" width="1%" nowrap><b>Cambiar Imagen</b></td>
	<td class="form">
        <input type="file" name="mmedia_file" class="ta">
        </td>

	<td class="form">
       <input type="submit" value="Subir" class="ta">
	</td>
</tr>
</table>
</form>