<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<table width="300" border="0" align="center" cellpadding="2" cellspacing="0" background="../images/verde.gif">
  <tr> 
    <td>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td height="10" background="../images/CMS_15.gif">
            <table width="100%" border="0" cellspacing="0" cellpadding="2">
              <tr> 
                <td align="right"><img src="../images/cuadrito.gif" width="8" height="8"></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td align="center" background="../images/color.gif">
            <table width="100%" border="0" cellspacing="0" cellpadding="6">
             
            </table>
            <table width="95%" border="0" cellpadding="6" cellspacing="0" background="../images/color2.gif" class="texto">
              <tr> 
                <td>
                  <p><strong>Bienvenido {loginuser.nombre} {loginuser.apellido}<br>
                    <br>
                    </strong>El CMS es un sistema que le permitir&aacute; cargar 
                    contenidos (textos, fotos, audio, videos, etc.) en el website 
                    de su Empresa a trav&eacute;s de una interfaz muy amigable 
                    y simple.<br>
                    Para comenzar seleccione uno de los items del men&uacute; 
                    a la izquierda de la pantalla.</p>
                </td>
              </tr>
            </table>
            <br>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
