<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Cinevivo - Ficha de Inscripci&oacute;n</title>
</head>
<body>

<table cellpadding="2" cellspacing="1" width="100%" align="center" bgcolor="#000000" style="font-size:13px">
<tr valign="top">
	<td bgcolor="#FFFFFF" colspan="2" align="left"><br><b>Cinevivo - Ficha de Inscripci&oacute;n</b><br>&nbsp;</td>
</tr>
<tr valign="top">
	<td bgcolor="#FFFFFF" width="1%" align="right" nowrap>T&iacute;tulo</td>
	<td  bgcolor="#FFFFFF" width="100%" align="left">{ficha.titulo}</td>
</tr>
<tr valign="top">
	<td  bgcolor="#FFFFFF" width="1%" align="right" nowrap>T&iacute;tulo en ingles</td>
	<td  bgcolor="#FFFFFF" width="100%" align="left">{ficha.titulo_en}</td>
</tr>
<tr valign="top">
	<td  bgcolor="#FFFFFF" width="1%" align="right" nowrap>Duraci&oacute;n</td>
	<td  bgcolor="#FFFFFF" width="100%" align="left">{ficha.duracion}</td>
</tr>
<!--<tr valign="top">
	<td  bgcolor="#FFFFFF" width="1%" align="right" nowrap>G&eacute;nero</td>
	<td  bgcolor="#FFFFFF" width="100%" align="left">{ficha.genero_nice}</td>
</tr>
<tr valign="top">
	<td  bgcolor="#FFFFFF" width="1%" align="right" nowrap>Formato de realizaci&oacute;n</td>
	<td  bgcolor="#FFFFFF" width="100%" align="left">{ficha.formato_realizacion_es}</td>
</tr>
<tr valign="top">
	<td  bgcolor="#FFFFFF" width="1%" align="right" nowrap>Formato de proyecci&oacute;n</td>
	<td  bgcolor="#FFFFFF" width="100%" align="left">{ficha.formato_proyeccion_es}</td>
</tr>-->
<tr valign="top">
	<td  bgcolor="#FFFFFF" width="1%" align="right" nowrap>Idioma</td>
	<td  bgcolor="#FFFFFF" width="100%" align="left">{ficha.idioma}</td>
</tr>
<!--<tr valign="top">
	<td  bgcolor="#FFFFFF" width="1%" align="right" nowrap>Subtitulos en espa&ntilde;ol</td>
	<td  bgcolor="#FFFFFF" width="100%" align="left">{ficha.subtitulo_es}</td>
</tr>
<tr valign="top">
	<td  bgcolor="#FFFFFF" width="1%" align="right" nowrap>Subtitulos en ingles</td>
	<td  bgcolor="#FFFFFF" width="100%" align="left">{ficha.subtitulo_en}</td>
</tr>-->
<tr valign="top">
	<td  bgcolor="#FFFFFF" width="1%" align="right" nowrap>A&ntilde;o de realizaci&oacute;n</td>
	<td  bgcolor="#FFFFFF" width="100%" align="left">{ficha.anno_realizacion}</td>
</tr>
<tr valign="top">
	<td  bgcolor="#FFFFFF" width="1%" align="right" nowrap>Lugar de realizaci&oacute;n</td>
	<td  bgcolor="#FFFFFF" width="100%" align="left">{ficha.lugar_realizacion}</td>
</tr>
<tr valign="top">
	<td  bgcolor="#FFFFFF" width="1%" align="right" nowrap>Web</td>
	<td  bgcolor="#FFFFFF" width="100%" align="left">{ficha.web}</td>
</tr>
<tr valign="top">
	<td  bgcolor="#FFFFFF" width="1%" align="right" nowrap>Premios</td>
	<td  bgcolor="#FFFFFF" width="100%" align="left">{ficha.premios}</td>
</tr>
<tr valign="top">
	<td  bgcolor="#FFFFFF" width="1%" align="right" nowrap>Sinopsis en espa&ntilde;ol</td>
	<td  bgcolor="#FFFFFF" width="100%" align="left">{ficha.sinopsis_es}</td>
</tr>
<tr valign="top">
	<td  bgcolor="#FFFFFF" width="1%" align="right" nowrap>Sinopsis en ingles</td>
	<td  bgcolor="#FFFFFF" width="100%" align="left">{ficha.sinopsis_en}</td>
</tr>
<tr valign="top">
	<td bgcolor="#FFFFFF" colspan="2" align="left"><br><b>Equipo T&eacute;cnico</b><br>&nbsp;</td>
</tr>
<tr valign="top">
	<td  bgcolor="#FFFFFF" width="1%" align="right" nowrap>Direcci&oacute;n</td>
	<td  bgcolor="#FFFFFF" width="100%" align="left">{ficha.direccion}</td>
</tr>
<tr valign="top">
	<td  bgcolor="#FFFFFF" width="1%" align="right" nowrap>Gui&oacute;n</td>
	<td  bgcolor="#FFFFFF" width="100%" align="left">{ficha.guion}</td>
</tr>
<tr valign="top">
	<td  bgcolor="#FFFFFF" width="1%" align="right" nowrap>Producci&oacute;n</td>
	<td  bgcolor="#FFFFFF" width="100%" align="left">{ficha.produccion}</td>
</tr>
<tr valign="top">
	<td  bgcolor="#FFFFFF" width="1%" align="right" nowrap>Asistente de direcci&oacute;n</td>
	<td  bgcolor="#FFFFFF" width="100%" align="left">{ficha.asistente_direccion}</td>
</tr>
<tr valign="top">
	<td  bgcolor="#FFFFFF" width="1%" align="right" nowrap>Fotograf&iacute;a</td>
	<td  bgcolor="#FFFFFF" width="100%" align="left">{ficha.fotografia}</td>
</tr>
<tr valign="top">
	<td  bgcolor="#FFFFFF" width="1%" align="right" nowrap>C&aacute;mara</td>
	<td  bgcolor="#FFFFFF" width="100%" align="left">{ficha.camara}</td>
</tr>
<tr valign="top">
	<td  bgcolor="#FFFFFF" width="1%" align="right" nowrap>Arte</td>
	<td  bgcolor="#FFFFFF" width="100%" align="left">{ficha.arte}</td>
</tr>
<tr valign="top">
	<td  bgcolor="#FFFFFF" width="1%" align="right" nowrap>Musica</td>
	<td  bgcolor="#FFFFFF" width="100%" align="left">{ficha.musica}</td>
</tr>
<tr valign="top">
	<td  bgcolor="#FFFFFF" width="1%" align="right" nowrap>Sonido</td>
	<td  bgcolor="#FFFFFF" width="100%" align="left">{ficha.sonido}</td>
</tr>
<tr valign="top">
	<td  bgcolor="#FFFFFF" width="1%" align="right" nowrap>Edici&oacute;n</td>
	<td  bgcolor="#FFFFFF" width="100%" align="left">{ficha.edicion}</td>
</tr>
<tr valign="top">
	<td  bgcolor="#FFFFFF" width="1%" align="right" nowrap>Animaci&oacute;n</td>
	<td  bgcolor="#FFFFFF" width="100%" align="left">{ficha.animacion}</td>
</tr>
<tr valign="top">
	<td  bgcolor="#FFFFFF" width="1%" align="right" nowrap>Productora</td>
	<td  bgcolor="#FFFFFF" width="100%" align="left">{ficha.productora}</td>
</tr>
<tr valign="top">
	<td  bgcolor="#FFFFFF" width="1%" align="right" nowrap>Int&eacute;rpretes</td>
	<td  bgcolor="#FFFFFF" width="100%" align="left">{ficha.interpretes}</td>
</tr>
<tr valign="top">
	<td bgcolor="#FFFFFF" colspan="2" align="left"><br><b>Datos del Director / Responsable</b><br>&nbsp;</td>
</tr>
<tr valign="top">
	<td  bgcolor="#FFFFFF" width="1%" align="right" nowrap>Nombre</td>
	<td  bgcolor="#FFFFFF" width="100%" align="left">{ficha.director_nombre}</td>
</tr>
<tr valign="top">
	<td  bgcolor="#FFFFFF" width="1%" align="right" nowrap>C&oacute;digo postal</td>
	<td  bgcolor="#FFFFFF" width="100%" align="left">{ficha.director_codigo_postal}</td>
</tr>
<tr valign="top">
	<td  bgcolor="#FFFFFF" width="1%" align="right" nowrap>Nacionalidad</td>
	<td  bgcolor="#FFFFFF" width="100%" align="left">{ficha.director_nacionalidad}</td>
</tr>
<tr valign="top">
	<td  bgcolor="#FFFFFF" width="1%" align="right" nowrap>Fecha de nacimiento</td>
	<td  bgcolor="#FFFFFF" width="100%" align="left">{ficha.director_fecha_nac}</td>
</tr>
<tr valign="top">
	<td bgcolor="#FFFFFF" colspan="2" align="left"><br>
	<b>Bases y Condiciones</b><br>&nbsp;
</td>
</tr>
<tr valign="top">
	<td bgcolor="#FFFFFF" colspan="2" width="100%" align="left">
<!-- BEGIN Subi tu corto::Bases -->
<!-- BEGIN Subi tu corto::Bases.destacada -->('NO')<!-- END Subi tu corto::Bases.destacada -->
	<!-- BEGIN Nota -->. {contenidos.titulo}<br><!-- END Nota -->
<!-- END Subi tu corto::Bases -->
	</td>
</tr>
<tr valign="top">
	<td bgcolor="#FFFFFF" colspan="2" width="100%" align="center" nowrap>
	<br><br>
	Acepto bases y condiciones
	<br><br><br><br>
	----------------------------------------------<br>
	Firma del Responsable
	<br><br><br>
	----------------------------------------------<br>
	Aclaraci&oacute;n
	<br><br><br>
	</td>
</tr>
<tr>
	<td bgcolor="#FFFFFF" colspan="2" width="100%" align="center"><input id="print_button" class="pointer" value="Imprimir Ficha" type="button" onclick="document.getElementById('print_button').style.display='none'; document.getElementById('volver_button').style.display='none'; window.print();">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input id="volver_button" class="pointer" value="Terminar / Volver" type="button" onclick="window.location='http://www.cinevivo.org/'"></td>
</tr>
</table>

</body>