<table border="0" cellspacing="0" cellpadding="0" width="100%" align="left" height="700"><tr valign="top">
	<td width="100%" align="left">
		<!-- BEGIN Cinevivo::FAQ -->
		<!-- BEGIN Cinevivo::FAQ.destacada -->('NO')<!-- END Cinevivo::FAQ.destacada -->

			<!-- BEGIN Nota -->
		<table border="0" cellpadding="0" cellspacing="8" width="100%" onmouseover="mOvr(this, 'corto_over')" onmouseout="mOut(this, 'corto_plain')">
	
			<tr>
			<td width="100%">
				
				<div class="corto_director">
					{contenidos.titulo_corto}
				</div>
				<div class="corto_titulo"><b>{contenidos.titulo}</b>
				</div>

				<div class="corto_titulo">{contenidos.texto}
				</div>
				
			</td></tr>
		</table>
			<!-- END Nota -->
		<!-- END Cinevivo::FAQ -->
	
	</td>
</tr>
</table>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
