<table border="0" cellspacing="0" cellpadding="0" width="50%" align="center" height="600"><tr valign="top">
	<td width="100%" align="center">

		<div class="caja_gris">
		<br>
		<div id="response">
		<table border="0" cellpadding="2" cellspacing="0" width="1%" align="center">
		<tr>
			<td width="1%" align="right" nowrap>nombre</td>
			<td width="100%" align="left"><input type="text" name="nombre" id="nombre"></td>
		</tr>
		<tr>
			<td width="1%" align="right" nowrap>apellido</td>
			<td width="100%" align="left"><input type="text" name="apellido" id="apellido"></td>
		</tr>
		<tr>
			<td width="1%" align="right" nowrap>mail</td>
			<td width="100%" align="left"><input type="text" name="mail" id="mail"></td>
		</tr>
		<tr>
			<td width="1%" align="right" nowrap>confirmaci&oacute;n de mail</td>
			<td width="100%" align="left"><input type="text" name="mail_confirm" id="mail_confirm"></td>
		</tr>
		<tr>
			<td width="1%" align="right" nowrap><input name="acepto" id="acepto" type="checkbox"  class="checkbox"></td>
			<td width="100%" align="left" nowrap>Acepto registrarme al newsletter</td>
		</tr>
		<tr><td width="100%" colspan="3">&nbsp;</td></tr>
		<tr>
			<td colspan="2" width="100%" align="center"><input name="enviar" id="enviar" class="enviar" value="Enviar Formulario" type="button"></td>
		</tr>
		</table>
		
		</div>
		<br>
		</div>
		<br>
		<div class="caja_gris_sinopsis">(*) Los anteriores usuarios ya se encuentran registrados al newsletter.</div>
		<center><span id="wait"></span></center>

	</td>
</tr>
</table>
<br>
<br>

<script>
	$('nombre').focus();

	BindById('enviar', 'click', doSubmit);
	
	function doSubmit() {
		if ($('nombre').value.length < 3) {
			alert("Ingrese un Nombre correctamente");
			return 0;
		}
		if ($('apellido').value.length < 3) {
			alert("Ingrese un Apellido correctamente");
			return 0;
		}
		if (($('mail').value.search("@") <= 1) || ($('mail').value.length < 5)) {
			alert("Ingrese correctamente el Mail");
			return 0;
		}
		if($('mail').value != $('mail_confirm').value) {
			alert("La confirmacion del Mail no coincide con el Mail original");
			return 0;
		}
		if($('acepto').checked != true) {
			alert("Debe aceptar las reglas y condiciones para poder continuar");
			return 0;
		}

    	        var url = '?';
	        var myDate = new Date();

		var params = {
	                nombre:   $('nombre').value,
	                apellido: $('apellido').value,
	                mail:     $('mail').value,
	                time: myDate.getTime()
		};

		$('wait').innerHTML = "<img src='../images/web2/iconos/logo.gif' border='0'>";
	
		var res = new Ajax.Request(
			"../newsletter/",
			{
				method: 'post',
				parameters: $H(params).toQueryString(),
				onComplete: doSubmitResponse
			}
		);	
	}

	function doSubmitResponse(e) {
		$('response').innerHTML = e.responseText;
		$('wait').innerHTML = '';
	}
</script>
