<table border="0" cellspacing="0" cellpadding="0" width="100%"><tr valign="top">
	<td width="100%" valign="top">
	

		<!-- BEGIN Secciones::Links -->

		<!-- BEGIN Nota -->
		<br>
		<a class="caja_gris_foto" title="{contenidos.titulo}" href="http://{contenidos.titulo_corto}"  idcontenido="{contenidos.idcontenido}">
		<!-- BEGIN image-gif -->
		<!-- BEGIN Link -->
		<img src="{links_tipos.defaultpath}{links.idlink}" id="foto_portada" align="absmiddle" alt="{contenidos.titulo}" border="0">
		<!-- END Link -->
		<!-- END image-gif -->
		</a>
		
		<div id="estrenos_datos" class="caja_gris_datos_cortos_estreno" style="height:85px">
			<div class="caja_gris_titulo_corto"><a title="{contenidos.titulo}" class="link_negro"  href="http://{contenidos.titulo_corto}">{contenidos.titulo}</a></div>
			<div class="caja_gris_datos_varios"><a title="{contenidos.titulo}" class="link_rojo"  href="http://{contenidos.titulo_corto}">{contenidos.titulo_corto}</a></div>
			<div class="caja_gris_sinopsis">{contenidos.texto}</div>
		</div>
		
		<!-- END Nota -->
			
		<!-- END Secciones::Links -->


	</td>
</tr>
</table>
<br><br><br><br>
