<link rel="stylesheet" href="../css/home_cortos.css" type="text/css">

<table border="0" cellspacing="0" cellpadding="0" width="100%"><tr>
<td width="1%"><img src="../images/barras/roja_left.jpg" border="0" align="absmiddle" alt="ficha de inscripcion de cinevivo"></td>
<td width="100%" class="barra_roja_back" align="left">&nbsp;&nbsp;ficha</td>
<td width="1%"><img src="../images/barras/roja_right.jpg" border="0" align="absmiddle" alt="ficha de inscripcion de cinevivo"></td>
</tr></table>


<table border="0" cellspacing="0" cellpadding="0" width="100%"><tr valign="top">
	<td width="100%" align="center">
		<br>
		<br>
		<!-- BEGIN Subi tu corto::Ficha -->
		<table border="0" cellpadding="0" cellspacing="15" width="1%" height="100%">
		<tr>
		<!-- BEGIN Nota -->
		
			<td width="100%" align="center">
				<!-- BEGIN word -->
                                <!-- BEGIN Link -->
				<a title="{contenidos.titulo}" href="../../getmmedia.php/{links.fname}?idlink={links.idlink}">
				<!-- BEGIN image-gif -->
				<!-- BEGIN Link -->
	    	    		<img src="{links_tipos.defaultpath}{links.idlink}" id="foto_portada" align="absmiddle" border="0" alt="ficha">
	    			<!-- END Link -->
				<!-- END image-gif --></a>
				<br/>
                                <!-- END Link -->
                                <!-- END word -->
			</td>
			<!-- END Nota -->
		</tr>
		</table>
		<!-- END Subi tu corto::Ficha -->
	
	</td>
</tr>
</table>
