<!-- BEGIN Nota -->
<table border="0" cellspacing="10" cellpadding="0" width="100%"><tr valign="top">
	<td width="1%">

<div id="{contenidos.titulo}" class="caja_gris">

	<div id="estrenos_titulo" class="caja_gris_titulo" style="font-size:16px"><b>{contenidos.titulo}</b></div>


	<!-- BEGIN Cortometraje::url-ext-video -->
	<div class="div_player">	
	<iframe title="Video" width="512" height="308" src="<!-- BEGIN Link -->{links.titulo}<!-- END Link -->" frameborder="0" allowfullscreen></iframe>
	</div>
	<!-- END Cortometraje::url-ext-video -->

	<!-- BEGIN Cortometraje::url-video -->
	<script type="text/javascript" src="../js/swfobject.js"></script>
	<div class="div_player">	
	<object type="application/x-shockwave-flash" data="../swf/player.swf" width="512" height="308">
		<param name="movie" value="../swf/player.swf" />
		<param name="allowfullscreen" value="true" />
		<param name="allowscriptaccess" value="always" />
		<param name="flashvars" value="file=../flvs/<!-- BEGIN Link -->{links.titulo}<!-- END Link -->.flv&autostart=true" />
		<p><a href="http://get.adobe.com/flashplayer">Get Flash</a> to see this player.</p>
	</object>
	</div>
	<!-- END Cortometraje::url-video -->

	<div class="caja_vacia" style="text-align:left">
		<div style="float:right">{contenidos.extra1} reproducciones</div>

		<div id="votacion" style="display:block">
		<a id="votar1" class="pointer votar" voto="1" title="malo"><img id="voto1" src="../images/web2/star_off.gif" border="0" align="absmiddle" alt="ranking" class="pointer"></a>
		<a class="pointer votar" voto="2" title="regular"><img id="voto2" src="../images/web2/star_off.gif" border="0" align="absmiddle" alt="ranking" class="pointer"></a>
		<a class="pointer votar" voto="3" title="bueno"><img id="voto3" src="../images/web2/star_off.gif" border="0" align="absmiddle" alt="ranking" class="pointer"></a>
		<a class="pointer votar" voto="4" title="muy bueno"><img id="voto4" src="../images/web2/star_off.gif" border="0" align="absmiddle" alt="ranking" class="pointer"></a>
		<a class="pointer votar" voto="5" title="excelente"><img id="voto5" src="../images/web2/star_off.gif" border="0" align="absmiddle" alt="ranking" class="pointer"></a>&nbsp;<span class="calidad" id="activar_votar">{contenidos.extra4} pts</span>
		</div>
	</div>

</div>
<div class="espacio_10">
<div id="comentarios" class="caja_gris">

	<div id="estrenos_titulo" class="caja_gris_titulo">COMENTARIOS</div>

	<div class="caja_gris_titulo">
		<span id="response"></span>
<!-- BEGIN Foros -->
  <!-- BEGIN foros.Row -->
  <!-- BEGIN foros.fecha.format -->%d-%m-%Y %H:%M<!-- END foros.fecha.format -->
		<table border="0" cellspacing="8" cellpadding="0" width="100%" class="foro_contenido">
		<tr><td width="100%">
			<div style="float:right">{foros.nombre}</div>
			<b>{foros.fecha}</b><br>
			{foros.mensaje}
		</td></tr>
		</table>
  <!-- END foros.Row -->
<!-- END Foros -->
		<div id="dejar_comentario" class="caja_blanca">
			<div class="caja_gris_titulo">Escriba aqu&iacute; su comentario:</div>
			<div class="caja_gris_titulo"><textarea style="width:95%" name="comentario" id="comentario" cols="10" maxlength='100' rows="4"></textarea></div>
			<div class="caja_gris_titulo">Letras de la Imagen: <input name="letras" id="letras" style="width:40px" cols="4">&nbsp;<img src="../imagecreate/?&.jpg" border="0" align="absmiddle"></div>
			<div class="caja_gris_titulo">Nombre (Nick): <input name="nombre" id="nombre" style="width:150px" cols="4"></div>
			<div class="caja_gris_titulo">Mail (no se publica): <input name="mail" id="mail" style="width:150px" cols="4"></div>
			<div class="caja_gris_titulo"><input name="enviar" id="enviar" value="Enviar Comentario" type="button"></div>
		</div>
	</div>
</div>
	
	</td>
	<td width="100%" style="font-size:12px" align="left">

		<!-- BEGIN image-gif -->
		<!-- BEGIN Link -->
		<!--meta property="og:image" content="http://www.cinevivo.org/getmmedia.php?idlink={links.idlink}&.jpg"/-->
		<!--link rel="image_src" href="http://www.cinevivo.org/getmmedia.php?idlink={links.idlink}&.gif" /-->
		<img src="http://www.cinevivo.org/getmmedia.php?idlink={links.idlink}&imagen.jpg" id="foto_portada" align="absmiddle" alt="{contenidos.titulo}" style="float:right">
		<!-- END Link -->
		<!-- END image-gif -->
		<b>T&iacute;tulo original</b>: {contenidos.titulo}<br>
		<b>Duraci&oacute;n</b>: <!-- BEGIN Cortometraje::Duracion --><!-- BEGIN Link -->{links.titulo}<!-- END Link --><!-- END Cortometraje::Duracion --><br>
		<b>G&eacute;nero</b>: {contenidos.titulo_corto}<br>
		<b>Idioma</b>: <!-- BEGIN Cortometraje::Idioma --><!-- BEGIN Link -->{links.titulo}<!-- END Link --><!-- END Cortometraje::Idioma --><br>
		<b>Subt&iacute;tulos en pantalla</b>: <!-- BEGIN Cortometraje::Subtitulo --><!-- BEGIN Link -->{links.titulo}<!-- END Link --><!-- END Cortometraje::Subtitulo --><br>
		<b>A&ntilde;o de realizaci&oacute;n</b>: {contenidos.fecha}<!-- BEGIN contenidos.fecha.format -->%Y<!-- END contenidos.fecha.format --><br>
		<b>Lugar de realizaci&oacute;n</b>: <!-- BEGIN Cortometraje::Lugar Realizacion --><!-- BEGIN Link -->{links.titulo}<!-- END Link --><!-- END Cortometraje::Lugar Realizacion --><br>
		<br>
		<b>Sinopsis</b>: {contenidos.texto}<br>
		<br>

		<span id="Direccion"></span>
		<span id="Idea"></span>
		<span id="Guion"></span>
		<span id="Produccion"></span>
		<span id="Asistente_de_Direccion"></span>
		<span id="Fotografia"></span>
		<span id="Camara"></span>
		<span id="Arte"></span>
		<span id="Musica"></span>
		<span id="Sonido"></span>
		<span id="Edicion"></span>
		<span id="Animacion"></span>
		<!-- BEGIN Cortometraje::Productora --><b>Productora</b>: <!-- BEGIN Link -->{links.titulo}<!-- END Link --><br><!-- END Cortometraje::Productora -->
		<span id="Interpretes"></span>
		<!-- BEGIN Cortometraje::Web --><b>Web</b>: <!-- BEGIN Link --><a href="http://{links.titulo}" class="link_negro">{links.titulo}</a><!-- END Link --><br><!-- END Cortometraje::Web -->
		<br>
		<!-- BEGIN Cortometraje::Premios --><b>Premios</b>:<br><!-- BEGIN Link -->- {links.titulo}<br><!-- END Link --><br><!-- END Cortometraje::Premios -->
		<!-- BEGIN Cortometraje::Cedido --><b>Cedido por</b>: <!-- BEGIN Link --> <a href="http://{links.url}" class="link_negro" title="{links.title}">{links.titulo}</a><!-- END Link --><br><!-- END Cortometraje::Cedido -->
		<!-- BEGIN Cortometraje::url-cinenacional --><!-- BEGIN Link --> <a class="link_negro pointer" href="{links.titulo}" border="0" title="link Ficha en Cinenacional"><img src="../images/cinenacional.gif" border="0"></a><!-- END Link --><br><!-- END Cortometraje::url-cinenacional --><br>
		<!-- BEGIN Cortometraje::url-kane --><!-- BEGIN Link --><a class="link_negro pointer" href="http://{links.url}" border="0" title="link Ficha en Cinenacional">leer acerca del corto en <b>Grupo Kane</b></a><!-- END Link --><br><!-- END Cortometraje::url-kane --><br>

                <!-- AddThis Button BEGIN -->
                <div class="addthis_toolbox addthis_default_style ">
                <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                <a class="addthis_button_tweet"></a>
                <a class="addthis_counter addthis_pill_style"></a>
                </div>
                <script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
                <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=hantartico"></script>
                <!-- AddThis Button END -->

		
<!-- </div> -->
<div id="comentarios" class="caja_gris">
	<div id="comentarios" class="caja_gris_titulo"><b>M&aacute;s cortos</b></div>


		<!-- BEGIN Cortos Azar -->
			<table border="0" cellspacing="0" cellpadding="6" width="100%" class="foro_fondo_contenido">
			<tr class="azar_over" onmouseover="mOvr(this, 'azar')" onmouseout="mOut(this, 'azar_over')"><td width="1%">
			<a title="{contenidos.titulo}" href="./index.php?tpl=home_corto&idcontenido={contenidos.idcontenido}" class="corto_titulo"><!-- BEGIN image-gif -->
			<!-- BEGIN Link -->
			<img src="{links_tipos.defaultpath}{links.idlink}" id="foto_portada" align="absmiddle" alt="{contenidos.titulo}" width="45" border="0">
			<!-- END Link -->
			<!-- END image-gif --></a>
			</td><td width="100%">
				<div class="corto_genero">{contenidos.titulo_corto}</div>
				<a title="{contenidos.titulo}" href="./index.php?tpl=home_corto&idcontenido={contenidos.idcontenido}" class="link_negro">
					<b>{contenidos.titulo}</b>
				</a>
				<!-- BEGIN Cortometraje::Duracion --> <!-- BEGIN Link -->
					{links.titulo} '
				<!-- END Link --> <!-- END Cortometraje::Duracion -->
			</td></tr></table>
		<!-- END Cortos Azar -->

</div>
	</td>
</tr>
</table>

<script>
	var yaVoto = false;

	Event.observe(window, 'load', loadPage);
		
	function doSubmit() {
		if ($('comentario').value.length < 5) {
			alert("Ingrese un Comentario mayor a 5 caracteres");
			return 0;
		}

		if ($('comentario').value.length > 254) {
			alert("Ingrese un Comentario menor a 254 caracteres");
			return 0;
		}

		var url = '?';
	        var myDate = new Date();

		var params = {
			nombre:  $('nombre').value,
			mail:  $('mail').value,
			mensaje:  $('comentario').value,
			letras:   $('letras').value,
			idcontenido: {contenidos.idcontenido},
			time: myDate.getTime()
		};

		var myAjax = new Ajax.Request( "../comentario/", { method: 'get', parameters: $H(params).toQueryString(), onComplete: doSubmitResponse });
	}

	function doSubmitResponse(e) {
		if(e.responseText == "invalidletter") {
			alert("Letras Invalidas");
		} else {
/*			if(e.responseText == "error") {
				alert("Solo se permite un comentario por dia para cada cortometraje");
			} else {*/
			$('response').innerHTML = e.responseText;
			$('comentario').value = "";
			$('dejar_comentario').innerHTML = "";
// 			}	
		}
	}

	function actualizarVer() {
		var myAjax = new Ajax.Request( "../ver/", { method: 'get', parameters: "idcontenido={contenidos.idcontenido}" });
	}
	
	function showPlayer() {
		$('image').style.display = "none";
		$('player').style.display = "block";
	}	

	function loadPage() {
		var c; var Aux = new Array();
	
		c = 0;<!-- BEGIN Cortometraje::Direccion --><!-- BEGIN Link -->Aux[c] = "{links.titulo}";c++;<!-- END Link --><!-- END Cortometraje::Direccion -->
		if(Aux[0]) $('Direccion').innerHTML = "<b>Direcci&oacute;n</b>: "+Aux.join(", ")+"<br>"; Aux = [];
		c = 0;<!-- BEGIN Cortometraje::Idea Original --><!-- BEGIN Link -->Aux[c] = "{links.titulo}";c++;<!-- END Link --><!-- END Cortometraje::Idea Original -->
		if(Aux[0]) $('Idea').innerHTML = "<b>Idea Original</b>: "+Aux.join(", ")+"<br>"; Aux = [];
		c = 0;<!-- BEGIN Cortometraje::Interprete --><!-- BEGIN Link -->Aux[c] = "{links.titulo}";c++;<!-- END Link --><!-- END Cortometraje::Interprete -->
		if(Aux[0]) $('Interpretes').innerHTML = "<b>Int&eacute;rpretes</b>: "+Aux.join(", ")+"<br>"; Aux = [];
		
		c = 0;<!-- BEGIN Cortometraje::Guion --><!-- BEGIN Link -->Aux[c] = "{links.titulo}";c++;<!-- END Link --><!-- END Cortometraje::Guion -->
		if(Aux[0]) $('Guion').innerHTML = "<b>Gui&oacute;n</b>: "+Aux.join(", ")+"<br>"; Aux = [];
		c = 0;<!-- BEGIN Cortometraje::Asistente de Direccion --><!-- BEGIN Link -->Aux[c] = "{links.titulo}";c++;<!-- END Link --><!-- END Cortometraje::Asistente de Direccion -->
		if(Aux[0]) $('Asistente_de_Direccion').innerHTML = "<b>Asistente de Direcci&oacute;n</b>: "+Aux.join(", ")+"<br>"; Aux = [];
		c = 0;<!-- BEGIN Cortometraje::Fotografia --><!-- BEGIN Link -->Aux[c] = "{links.titulo}";c++;<!-- END Link --><!-- END Cortometraje::Fotografia -->
		if(Aux[0]) $('Fotografia').innerHTML = "<b>Fotograf&iacute;a</b>: "+Aux.join(", ")+"<br>"; Aux = [];

		c = 0;<!-- BEGIN Cortometraje::Produccion --><!-- BEGIN Link -->Aux[c] = "{links.titulo}";c++;<!-- END Link --><!-- END Cortometraje::Produccion -->
		if(Aux[0]) $('Produccion').innerHTML = "<b>Producci&oacute;n</b>: "+Aux.join(", ")+"<br>"; Aux = [];

		if(Aux[0]) $('Fotografia').innerHTML = "<b>Fotograf&iacute;a</b>: "+Aux.join(", ")+"<br>"; Aux = [];
		c = 0;<!-- BEGIN Cortometraje::Arte --><!-- BEGIN Link -->Aux[c] = "{links.titulo}";c++;<!-- END Link --><!-- END Cortometraje::Arte -->
		if(Aux[0]) $('Arte').innerHTML = "<b>Arte</b>: "+Aux.join(", ")+"<br>"; Aux = [];
		c = 0;<!-- BEGIN Cortometraje::Camara --><!-- BEGIN Link -->Aux[c] = "{links.titulo}";c++;<!-- END Link --><!-- END Cortometraje::Camara -->
		if(Aux[0]) $('Camara').innerHTML = "<b>Camara</b>: "+Aux.join(", ")+"<br>"; Aux = [];
		c = 0;<!-- BEGIN Cortometraje::Musica --><!-- BEGIN Link -->Aux[c] = "{links.titulo}";c++;<!-- END Link --><!-- END Cortometraje::Musica -->
		if(Aux[0]) $('Musica').innerHTML = "<b>M&uacute;sica</b>: "+Aux.join(", ")+"<br>"; Aux = [];
		c = 0;<!-- BEGIN Cortometraje::Sonido --><!-- BEGIN Link -->Aux[c] = "{links.titulo}";c++;<!-- END Link --><!-- END Cortometraje::Sonido -->
		if(Aux[0]) $('Sonido').innerHTML = "<b>Sonido</b>: "+Aux.join(", ")+"<br>"; Aux = [];
		c = 0;<!-- BEGIN Cortometraje::Edicion --><!-- BEGIN Link -->Aux[c] = "{links.titulo}";c++;<!-- END Link --><!-- END Cortometraje::Edicion -->
		if(Aux[0]) $('Edicion').innerHTML = "<b>Edici&oacute;n</b>: "+Aux.join(", ")+"<br>"; Aux = [];
		c = 0;<!-- BEGIN Cortometraje::Animacion --><!-- BEGIN Link -->Aux[c] = "{links.titulo}";c++;<!-- END Link --><!-- END Cortometraje::Animacion -->
		if(Aux[0]) $('Animacion').innerHTML = "<b>Animaci&oacute;n</b>: "+Aux.join(", ")+"<br>"; Aux = [];
		
		BindByClassName('votar', 'mouseover', changeImage);
 		BindByClassName('votar', 'click', votarCorto);
// 		BindById('activar_votar', 'click', activarVotar);
		BindById('enviar', 'click', doSubmit);
		actualizarVer();
		calcularRanking();

		activarVotar();
//		$('calidad{calidad}').className = 'calidad_seleccionada';
	}

	function changeImage(e) {
		if(yaVoto)
			return;

		for (var x = 1; x <= this.getAttribute('voto'); x++) {
			$('voto'+x).src = "../images/web2/star_on.gif";
		}
		for (var y = x; y <= 5; y++) {
			$('voto'+y).src = "../images/web2/star_off.gif";
		}
		$('activar_votar').innerHTML = "votar <b>"+this.getAttribute('title')+"</b>";
		
	}

	function activarVotar() {
// 		$('activar_votar').className = 'calidad_seleccionada';
// 		$('activar_votar').innerHTML = "seleccione una opci&oacute;n";
// 		$('resultado').style.display = "none";
// 		$('votacion').style.display = "block";
	}


	function calcularRanking() {
		var resultado = (Math.round({contenidos.extra4}));
		for (var x = 1; x <= resultado; x++) {
			$('voto'+x).src = "../images/web2/star_on.gif";
		}
		for (var y = x; y <= 5; y++) {
			$('voto'+y).src = "../images/web2/star_off.gif";
		}
	}

	function votarCorto() {
		if(yaVoto)
			return;

		var params = {
			voto: this.getAttribute('voto'),
			idcontenido: '{contenidos.idcontenido}'
		};
		var myAjax = new Ajax.Request( "../votar/", { method: 'get', parameters: $H(params).toQueryString(), onComplete: votarCortoResponse });
	}

	function votarCortoResponse(e) {
		if(e.responseText > 0) {
			var valor = e.responseText;
			yaVoto	= true;
// 			Event.stopObserving('votar1', 'mouseover', changeImage);
			$('activar_votar').innerHTML = "Gracias por su voto";
			setTimeout("resultadoNuevo("+valor+");", 1500);

		} else {
			calcularRanking();
			$('activar_votar').innerHTML = "{contenidos.extra4} pts";
			
// 			alert("Solo se permite un voto por cada usuario");
// 			$('resultado').style.display = "block";
// 			$('votacion').style.display = "none";
		}	
	}

	function resultadoNuevo(par) {
// 		$('activar_votar').innerHTML = "";
// 		$('resultado').style.display = "block";
// 		$('votacion').style.display = "none";
		var resultado = (Math.round(par));
		for (var x = 1; x <= resultado; x++) {
			$('voto'+x).src = "../images/web2/star_on.gif";
		}
		for (var y = x; y <= 5; y++) {
			$('voto'+y).src = "../images/web2/star_off.gif";
		}
		$('activar_votar').innerHTML = par+" pts";

	}

	function none() {
		return;
	}

</script>
<!-- END Nota -->


