<table border="0" cellspacing="0" cellpadding="0" width="100%" height="700"><tr valign="top">
	<td>
		<!-- BEGIN Editoriales_Especiales -->

		<!-- BEGIN Nota -->

		<div class="caja_gris_separador"></div>
		<div class="caja_gris_datos_cortos_estreno">


		<div class="caja_gris_titulo">
            		<!-- BEGIN image-gif -->
	                <!-- BEGIN Link -->
	                <a class="caja_gris_foto" title="{contenidos.titulo}" href="../home/index.php?tpl=home_editorial_especial&area={contenidos.titulo_corto}" border="0"><img src="{links_tipos.defaultpath}{links.idlink}" border="0" align="absmiddle" alt="{contenidos.titulo}"></a>
	                <!-- END Link -->
	                <!-- END image-gif -->
	                
			<a class="link_negro" title="{contenidos.titulo}" href="../home/index.php?tpl=home_editorial_especial&area={contenidos.titulo_corto}">
			<b>{contenidos.titulo}</b>
			</a>
			<div class="caja_gris_sinopsis">{contenidos.bajada}</div>
		</div>
		</div>
		<!-- END Nota -->


		<!-- END Editoriales_Especiales -->
	</td>
</td>
</tr>
</table>
