<table border="0" cellspacing="0" cellpadding="0" width="100%" align="left"><tr valign="top">
	<td width="100%" align="left">
		<!-- BEGIN Cinevivo::Contacto -->
		<!-- BEGIN Cinevivo::Contacto.destacada -->('NO')<!-- END Cinevivo::Contacto.destacada -->

			<!-- BEGIN Nota -->
		<table border="0" cellpadding="0" cellspacing="8" width="100%" height="100%">
	
			<td width="100%">
				<div class="corto_titulo"><b>{contenidos.titulo}</b>
				</div>
				
				<div class="corto_titulo">{contenidos.texto}
				</div>
			</td></tr>
		</table>
			<!-- END Nota -->
		<!-- END Cinevivo::Contacto -->
	
	</td>
</tr>
</table>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
