<table border="0" cellspacing="0" cellpadding="0" width="100%"><tr valign="top">
	<td width="100%">
		<!-- BEGIN Subi tu corto::CRC -->
		<!-- BEGIN Subi tu corto::CRC.destacada -->('NO')<!-- END Subi tu corto::CRC.destacada -->

			<!-- BEGIN Nota -->
		<table border="0" cellpadding="0" cellspacing="8" width="100%" height="100%" onmouseover="mOvr(this, 'corto_over')" onmouseout="mOut(this, 'corto_plain')">
	
			<tr><td width="1%" valign="top">
				<img src="../images/cajas/caja_roja.jpg">
			</td>
			<td width="100%">
				<span class="corto_director">
					{contenidos.titulo_corto}
				</span>
				<div class="corto_titulo"><b>{contenidos.titulo}</b>
				</div>
				<div class="corto_titulo">
					{contenidos.volanta}
				</div>
			</td>
			</td></tr>
		</table>
			<!-- END Nota -->
		<!-- END Subi tu corto::CRC -->
	
	</td>
</tr>
</table>
