<!-- BEGIN Home::Cortos Estrenos -->
<!-- BEGIN Home::Cortos Estrenos.destacada -->('SI')<!-- END Home::Cortos Estrenos.destacada -->
<!-- BEGIN Home::Cortos Estrenos.limite -->1<!-- END Home::Cortos Estrenos.limite -->
<div class="stilo_margen_columna">
	<!-- BEGIN Nota -->
		<div class="stilo_volanta">{contenidos.volanta}</div>
		<div class="stilo_titulo_0">
		<a title="{contenidos.titulo}" href="?lang={lang}&frame=<!-- BEGIN frame --><!-- BEGIN Link -->{links.titulo}<!-- END Link --><!-- END frame -->&tpl=detalle_nota&idcontenido={contenidos.idcontenido}" class="stilo_titulo_0">{contenidos.titulo}</a>
		</div>
		<!--div class="stilo_epigrafe">{contenidos.bajada}</div-->
		
  <div class="stilo_texto_deflec"> 
    <!-- BEGIN foto -->
    <!-- BEGIN Link -->
    <img src="{links_tipos.defaultpath}{links.idlink}" width="64" id="foto_portada"> 
    <!-- END Link -->
    <!-- END foto -->
    {contenidos.bajada}<br>
    <div class="stilo_ver_mas">
		<a  href="?lang={lang}&frame=<!-- BEGIN frame --><!-- BEGIN Link -->{links.titulo}<!-- END Link --><!-- END frame -->&tpl=detalle_nota&idcontenido={contenidos.idcontenido}" class="stilo_ver_mas"><span class="stilo_ver_mas_i">(i)</span> ver m&aacute;s</a>
    </div>
    <hr class="dash1">
  </div>
	<!-- END Nota -->
</div>
<!-- END Home::Cortos Estrenos -->

<!-- BEGIN Home::Cortos Estrenos -->
<!-- BEGIN Home::Cortos Estrenos.destacada -->('NO')<!-- END Home::Cortos Estrenos.destacada -->
<div class="stilo_margen_columna">
	<!-- BEGIN Nota -->
		<div class="stilo_volanta">{contenidos.volanta}</div>
		<div class="stilo_titulo_0">
		<a href="?lang={lang}&frame=<!-- BEGIN frame --><!-- BEGIN Link -->{links.titulo}<!-- END Link --><!-- END frame -->&tpl=detalle_nota&idcontenido={contenidos.idcontenido}" class="stilo_titulo_0">{contenidos.titulo}</a>
		</div>
		<!--div class="stilo_epigrafe">{contenidos.bajada}</div-->
		
  <div class="stilo_texto_deflec"> 
    <!-- BEGIN foto -->
    <!-- BEGIN Link -->
    <img src="{links_tipos.defaultpath}{links.idlink}" width="64" id="foto_portada"> 
    <!-- END Link -->
    <!-- END foto -->
    {contenidos.bajada}<br>
    <div class="stilo_ver_mas">
		<a href="?lang={lang}&frame=<!-- BEGIN frame --><!-- BEGIN Link -->{links.titulo}<!-- END Link --><!-- END frame -->&tpl=detalle_nota&idcontenido={contenidos.idcontenido}" class="stilo_ver_mas"><span class="stilo_ver_mas_i">(i)</span> ver m&aacute;s</a>
    </div>
    <hr class="dash1">
  </div>
	<!-- END Nota -->
</div>
<!-- END Home::Cortos Estrenos -->