<table border="0" cellspacing="0" cellpadding="0" width="100%"><tr valign="top">
	<td width="100%">
		<!-- BEGIN Subi tu corto::Ficha -->
		<table border="0" cellpadding="0" cellspacing="15" width="1%" height="100%">
		<tr>
			<!-- BEGIN Nota -->
		
			<td width="100%" align="center">
				<!-- BEGIN word -->
                                <!-- BEGIN Link -->
				<a title="{contenidos.titulo}" href="../../getmmedia.php/{links.fname}?idlink={links.idlink}">
				<!-- BEGIN image-gif -->
				<!-- BEGIN Link -->
	    	    		<img src="{links_tipos.defaultpath}{links.idlink}" id="foto_portada" align="absmiddle" border="0" alt="ficha">
	    			<!-- END Link -->
				<!-- END image-gif --></a>
				<br/>
                                <!-- END Link -->
                                <!-- END word -->
			</td>
			<!-- END Nota -->
		</tr>
		</table>
		<!-- END Subi tu corto::Ficha -->

		<div class="caja_destacado">
		<div class="caja_gris_sinopsis">
		<!-- BEGIN Subi tu corto::Bases -->
		<!-- BEGIN Subi tu corto::Bases.destacada -->('NO')<!-- END Subi tu corto::Bases.destacada -->

			<!-- BEGIN Nota -->
				<div class="caja_gris_separador"></div>
				<div>{contenidos.titulo}</div>
			<!-- END Nota -->
		<!-- END Subi tu corto::Bases -->
		</div>	
		</div>

		<!-- BEGIN Subi tu corto::CRC -->
		<!-- BEGIN Subi tu corto::CRC.destacada -->('NO')<!-- END Subi tu corto::CRC.destacada -->
		<div class="caja_gris_con_margen">
		<div id="estrenos_titulo" class="caja_gris_titulo"><b>CRC (Centros de Recepci&oacute;n de Cinevivo)</b></div>

			<!-- BEGIN Nota -->
		<div class="caja_gris_separador"></div>
			<div class="caja_gris_titulo">
			<div class="caja_gris_sinopsis">{contenidos.titulo_corto} - <b>{contenidos.titulo}</b></div>
			{contenidos.volanta}
			</div>
			<!-- END Nota -->
		</div>
		<!-- END Subi tu corto::CRC -->

	</td>
</tr>
</table>
