<table border="0" cellspacing="0" cellpadding="10" width="100%"><tr valign="top">
	<td width="100%" valign="top">
			<!-- BEGIN Cinevivo Apoya -->
			<!-- BEGIN Nota -->

			<br>
			<div class="caja_gris_separador"></div>

			<a class="caja_gris_foto" title="{contenidos.titulo}" href="./index.php?tpl=home_corto&idcontenido={contenidos.idcontenido}"  idcontenido="{contenidos.idcontenido}">
			<!-- BEGIN image-gif -->
			<!-- BEGIN Link -->
			<img src="{links_tipos.defaultpath}{links.idlink}" id="foto_portada" align="absmiddle" alt="{contenidos.titulo}" border="0">
			<!-- END Link -->
			<!-- END image-gif -->
			</a>
			
			<div id="estrenos_datos" class="caja_gris_datos_cortos_estreno">

			<div class="caja_gris_datos_varios">{contenidos.titulo_corto}</div>
			<div class="caja_gris_titulo_corto"><a title="{contenidos.titulo}" class="link_negro"  href="http://{contenidos.volanta}">{contenidos.titulo}</a></div>
			<div class="caja_gris_sinopsis">{contenidos.texto}</div>

			</div>
			<!-- END Nota -->
	
			<!-- END Cinevivo Apoya -->
	</td>
</tr>
</table>
