<link href="../css/styles.css" rel="stylesheet" type="text/css">
<!-- BEGIN {area}::Home::Lateral::{lang} -->
<!-- BEGIN {area}::Home::Lateral::{lang}.destacada -->('SI', 'NO')<!-- END {area}::Home::Lateral::{lang}.destacada -->
<table border="0" cellpadding="5" cellspacing="0" width="100%">
	<!-- BEGIN Nota -->
	<tr><td>
		<a title="{contenidos.titulo}" href="?lang={lang}&frame=<!-- BEGIN frame --><!-- BEGIN Link -->{links.titulo}<!-- END Link --><!-- END frame -->&tpl=detalle_nota&idcontenido={contenidos.idcontenido}" class="stilo_submenu">&#187;&nbsp;{contenidos.titulo}</a>
	</td></tr>
	<!-- END Nota -->
</table>
<!-- END {area}::Home::Lateral::{lang} -->
<img src="../images/pixel.gif" width="126">
