<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
	<td width="0%" bgcolor="#e7e7e7"><img src="../images/pixel.gif" width="2"></td>
	<td width="0%" valign="top" bgcolor="#c9c8c6" >
		<table border="0" cellpadding="0" cellspacing="0">
		<tr bgcolor="#9c9895">
			<td><img src="../images/pixel.gif" height="32" width="1"></td>
			<td><!--  #  include virtual="mod_buscador.html" --></td>
		</tr>
		</table>
	</td>
	<td width="0%" bgcolor="#ffffff" valign="top">
		<table border="0" cellpadding="0" cellspacing="0">
		<tr bgcolor="#9c9895"><td><img src="../images/buscador_cuadrado.gif"></td></tr>
		<tr><td><img src="../images/filete_subbotonera.jpg"></td></tr>
		</table>
	</td>
	<td align="center" valign="top" bgcolor="#FFFFFF" width="100%"> 
		<div class="stilo_margen">

<!-- BEGIN Banners::IZQ_1 -->
<!-- BEGIN Nota -->
<!-- BEGIN image-gif -->
<!-- BEGIN Link -->
<a title="{contenidos.titulo}" href="{links.url}" border="0"><img src="{links_tipos.defaultpath}{links.idlink}" border="0" align="absmiddle" alt="publicidades cinevivo"></a>
<!-- END Link -->
<!-- END image-gif -->
<!-- END Nota -->
<!-- END Banners::IZQ_1 -->



<table border="1" cellspacing="10" cellpadding="0" width="100%"><tr valign="top">
        <td>

{contenido}

	</td>
	<td>
	<iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FCINEVIVOorg%3Fref%3Dts&amp;width=355&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=true&amp;height=62" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:355px; height:62px;" allowTransparency="true"></iframe>
	</td>
	</tr>
</table>







		</div>
	</td>
</tr>
</table>
