<table border="0" cellspacing="0" cellpadding="0" width="100%" class="web_header_fondo">
<tr>
	<td width="1%">
<!-- <a href="../home/?tpl=home"><img src="../images/web2/lg_cinevivo.gif" border="0" align="absmiddle"  alt="titulo de cinevivo portal online de cine independiente"></a> -->
<embed src="../swf/logo.swf" width="276" height="73">
<!-- 		<object type="application/x-shockwave-flash" data="../swf/logo.swf"></object> -->

	</td>
	<td width="100%">&nbsp;</td>
	<td width="1%">

		<!-- BEGIN Banners::Cabecera -->
		<table border="0" cellspacing="0" cellpadding="0" align="center" width="600px"><tr>
		<td width="100%" align="center">
<!-- AddThis Follow BEGIN -->
<div class="addthis_toolbox addthis_32x32_style addthis_default_style" style="float:right;">
<a class="addthis_button_facebook_follow" addthis:userid="CINEVIVOorg"></a>
<a class="addthis_button_twitter_follow" addthis:userid="CINEVIVOorg"></a>
<a class="addthis_button_google_follow" addthis:userid="109006597838158462024"></a>
<a class="addthis_button_vimeo_follow" addthis:userid="cinevivo"></a>
<a class="addthis_button_tumblr_follow" addthis:userid="cinevivo"></a>
<a class="addthis_button_rss_follow" addthis:url="http://cinevivo.tumblr.com/rss"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=hantartico"></script>
<!-- AddThis Follow END -->
		</td><td>&nbsp;</td>
		<!-- BEGIN Nota --><td>
		<!-- BEGIN image-gif -->
		<!-- BEGIN Link -->
		<a title="{contenidos.titulo}" href="{links.url}" border="0"><img src="{links_tipos.defaultpath}{links.idlink}" border="0" align="absmiddle" alt="publicidades cinevivo"></a>
		<!-- END Link -->
		<!-- END image-gif -->
		</td><!-- END Nota -->
		</tr></table>
		<!-- END Banners::Cabecera -->
	</td>
</tr>
</table>

<table border="0" cellspacing="0" cellpadding="0" width="100%" class="botonera_usuario" height="20">
<tr valign="middle">
	<td width="100%">&nbsp;</td>
	<!--td width="100" align="center">
	<div class="boton_mas" onmouseover="mOvr(this, 'boton_mas_over')" onmouseout="mOut(this, 'boton_mas')" onclick="mClk('../home/?tpl=home_registro')"><a class="link_blanco_solo" href="../home/?tpl=home_registro">newsletter</a></div>
	</td>
	<td width="2">&nbsp;</td-->
	<td width="100" align="center">
	<div class="boton_mas" onmouseover="mOvr(this, 'boton_mas_over')" onmouseout="mOut(this, 'boton_mas')" onclick="mClk('../home/?tpl=home_ficha_online')"><a class="link_blanco_solo" href="../home/?tpl=home_ficha_online">sub&iacute; tu pel&iacute;cula</a></div>
	</td>
	<td width="10"><div style="width:10px">&nbsp;</div></td>
</tr>
</table>

<table border="0" cellspacing="0" cellpadding="0" width="100%" class="botonera_principal">
<tr>
	<td width="100%" class="idioma" align="left">
		<table border="0" cellspacing="10" cellpadding="0"><tr>
			<td align="center" width="1%" nowrap class="web2_boton_menu_borde">
				<div class="web2_boton_menu" onclick="mClk('../home/?tpl=home&material=0&evento=cortos_list&genero=1')" id="boton_cortos" name="cortos">
				<a class="web2_boton_menu_a"  id="boton_cortos_a" href="../home/?tpl=home&material=0&evento=cortos_list&genero=1">CORTOS</a>
				</div>
			</td>
			<td align="center" width="1%" nowrap class="web2_boton_menu_borde">
				<div class="web2_boton_menu" onclick="mClk('../home/?tpl=home&material=1&evento=cortos_list&genero=1')" id="boton_largos" name="largos">
				<a class="web2_boton_menu_a"  id="boton_largos_a" href="../home/?tpl=home&material=1&evento=cortos_list&genero=1">LARGOS</a>
				</div>
			</td>
			<td align="center" width="1%" nowrap class="web2_boton_menu_borde">
				<div class="web2_boton_menu" onclick="mClk('../home/?tpl=home&material=2&evento=cortos_list&genero=100')" id="boton_vod" name="vod">
				<a class="web2_boton_menu_a" id="boton_vod_a" href="../home/?tpl=home&material=2&evento=cortos_list&genero=100">VOD</a>
				</div>
			</td>
			<td align="center" width="1%" nowrap class="web2_boton_menu_borde">
				<div class="web2_boton_menu" onclick="mClk('../home/?tpl=home_editorial')"  id="boton_editorial" name="editorial">
				<a class="web2_boton_menu_a" id="boton_editorial_a" href="../home/?tpl=home_editorial">NOTAS</a>
				</div>
			</td>
			<td align="center" width="1%" nowrap class="web2_boton_menu_borde">
				<div class="web2_boton_menu" onclick="mClk('../home/?tpl=home_nota&idcontenido=4233')" id="boton_secciones" name="secciones">
				<a class="web2_boton_menu_a" id="boton_secciones_a" href="../home/?tpl=home_nota&idcontenido=4233">AGENDA</a>
				</div>
			</td>
<!--			<td align="center" width="1%" nowrap class="web2_boton_menu_borde">
				<div class="web2_boton_menu" onclick="mClk('../home/?tpl=home_links')" id="boton_links" name="links">
				<a class="web2_boton_menu_a" id="boton_links_a" href="../home/?tpl=home_links">TRAILERS</a>
				</div>
			</td>-->
			<td align="center" width="1%" nowrap class="web2_boton_menu_borde">
				<div class="web2_boton_menu" onclick="mClk('../home/?tpl=home_que')" id="boton_cinevivo" name="cinevivo">
				<a class="web2_boton_menu_a" id="boton_cinevivo_a" href="../home/?tpl=home_que">CINEVIVO</a>
				</div>
			</td>
<!--			<td align="center" width="80" nowrap><h1 class="boton" id="boton_editorial" name="editorial"><a class="boton_menu_nuevo" href="../home/?tpl=home_editorial">EDITORIAL</a></h1></td>
			<td align="center" width="80" nowrap><h1 class="boton" id="boton_secciones" name="secciones"><a class="boton_menu_nuevo" href="../agenda/?tpl=home_agenda&area=Convocatoria">AGENDA</a></h1></td>
			<td align="center" width="80" nowrap><h1 class="boton" id="boton_cinevivo" name="cinevivo"><a class="boton_menu_nuevo" href="../home/index.php?tpl=home_que">CINEVIVO</a></h1></td>
			<td align="center" width="80" nowrap><h1 class="boton" id="boton_links" name="links"><a class="boton_menu_nuevo" href="../home/?tpl=home_links">LINKS</a></h1></td>
			<td align="center" width="110" nowrap><h1 class="boton" id="boton_subi" name="subi"><a class="boton_menu_nuevo" href="?tpl=home_bases">SUBI TU CORTO</a></h1></td>
			<td align="center" width="130" nowrap><h1 class="boton" id="boton_registro" name="links"><a class="boton_menu_nuevo" href="../home/?tpl=home_registro">REGISTRATE AQU&Iacute;</a></h1></td>-->
			<td align="center" width="1%" nowrap></td>
			<td align="center" width="100%" nowrap>

      
				<!--form name="form_buscador" method="post" action="../buscador/?tpl=home_buscador" onsubmit="doBuscar()">
				<input id="palabras" name="palabras" value="buscar..." class="input_buscar" onfocus="this.value=''" onsubmit="doBuscar()">
				<input type="image" src="../images/web2/lupa.gif" onclick="doBuscar();" class="boton_buscar" align="absmiddle"-->
<!--				<br>
				<select id="tipo_contenido" name="tipo_contenido">
					<option value="1">Cortos</option>
					<option value="22">Editorial</option>
					<option value="9">Agenda</option>
					<option value="23">Video E.</option>
					<option value="28">Trailers</option>
				</select>-->
				<!--/form-->
			</td>
		</tr></table>
	</td>
	<td width="1%">
	</td>
</tr>
</table>

<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td width="10"></td>
<td>

		<div id="submenu_vacio" style="display: block">
		<table border="0" cellspacing="0" cellpadding="0" width="100%" class="botonera_secundaria">
		<tr><td>&nbsp;</td>
		</tr></table>
		</div>

		<div id="submenu_links" style="display: none">
		<table border="0" cellspacing="0" cellpadding="0" width="100%" class="botonera_secundaria">
		<tr><td>&nbsp;</td>
		</tr></table>
		</div>

		<div id="submenu_vod" style="display: none">
		<table border="0" cellspacing="0" cellpadding="0" width="100%" class="botonera_secundaria">
		<tr><td>&nbsp;</td>
		</tr></table>
		</div>

		<div id="submenu_secciones" style="display: none">
		<table border="0" cellspacing="0" cellpadding="0" width="100%" class="botonera_secundaria">
		<tr><td>&nbsp;</td>
		</tr></table>
		</div>


		<div id="submenu_editorial" style="display: none">
		<table border="0" cellspacing="0" cellpadding="0" width="100%" class="botonera_secundaria"><tr>
			<td align="center" width="1%" nowrap>
				<div class="web2_boton_submenu" onclick="mClk('../home/?tpl=home_editorial')" valign="absmiddle" id="home_editorial"  onmouseover="mOvr(this, 'web2_boton_submenu_hover')" onmouseout="mOut(this, 'web2_boton_submenu')">
				<a class="web2_boton_submenu_a" href="../home/?tpl=home_editorial" id="home_editorial">home editorial</a>
				</div>
			</td>
		<!-- BEGIN Botonera_Editoriales_Especiales -->
		<!-- BEGIN Nota -->
			<td align="center" width="1%" nowrap>
				<div class="web2_boton_submenu" onclick="mClk('../home/?tpl=home_editorial_especial&area={contenidos.titulo_corto}')" id="edit_{contenidos.titulo}" onmouseover="mOvr(this, 'web2_boton_submenu_hover')" onmouseout="mOut(this, 'web2_boton_submenu')">
				<a class="web2_boton_submenu_a" href="../home/?tpl=home_editorial_especial&area={contenidos.titulo_corto}" id="edit_{contenidos.titulo}">{contenidos.titulo}</a>
				</div>
			</td>
		<!-- END Nota -->
		<!-- END Botonera_Editoriales_Especiales -->
			<td align="center" width="1%" nowrap>
				<div class="web2_boton_submenu" onclick="mClk('../home/?tpl=home_editoriales_especiales')" valign="absmiddle" id="edit_todas" onmouseover="mOvr(this, 'web2_boton_submenu_hover')" onmouseout="mOut(this, 'web2_boton_submenu')">
				<a class="web2_boton_submenu_a" href="../home/?tpl=home_editoriales_especiales" id="edit_todas">todas</a>
				</div>
			</td>
			<td align="center" width="100%" nowrap>&nbsp;</td>
		</tr></table>
		</div>

		<div id="submenu_cortos" style="display: none">
		<table border="0" cellspacing="0" cellpadding="0" width="100%" class="botonera_secundaria"><tr>
			<td align="center" width="1%" nowrap>
				<div class="web2_boton_submenu" onclick="mClk('../home/?tpl=home&evento=cortos_list&material=0&genero=1')" valign="absmiddle" id="cortos_ficcion" onmouseover="mOvr(this, 'web2_boton_submenu_hover')" onmouseout="mOut(this, 'web2_boton_submenu')">
				<a class="web2_boton_submenu_a" href="../home/?tpl=home&evento=cortos_list&material=0&genero=1" id="cortos_ficcion">ficci&oacute;n</a>
				</div>
			</td>
			<td align="center" width="1%" nowrap>
				<div class="web2_boton_submenu" onclick="mClk('../home/?tpl=home&evento=cortos_list&material=0&genero=2')" valign="absmiddle" id="cortos_documental" onmouseover="mOvr(this, 'web2_boton_submenu_hover')" onmouseout="mOut(this, 'web2_boton_submenu')">
				<a class="web2_boton_submenu_a" href="../home/?tpl=home&evento=cortos_list&material=0&genero=2" id="cortos_documental">documental</a>
				</div>
			</td>
			<td align="center" width="1%" nowrap>
				<div class="web2_boton_submenu" onclick="mClk('../home/?tpl=home&evento=cortos_list&material=0&genero=3')" valign="absmiddle" id="cortos_experimental" onmouseover="mOvr(this, 'web2_boton_submenu_hover')" onmouseout="mOut(this, 'web2_boton_submenu')">
				<a class="web2_boton_submenu_a" href="../home/?tpl=home&evento=cortos_list&material=0&genero=3" id="cortos_experimental">experimental</a>
				</div>
			</td>
			<td align="center" width="1%" nowrap>
				<div class="web2_boton_submenu" onclick="mClk('../home/?tpl=home&evento=cortos_list&material=0&genero=4')" valign="absmiddle" id="cortos_animacion" onmouseover="mOvr(this, 'web2_boton_submenu_hover')" onmouseout="mOut(this, 'web2_boton_submenu')">
				<a class="web2_boton_submenu_a" href="../home/?tpl=home&evento=cortos_list&material=0&genero=4" id="cortos_animacion">animaci&oacute;n</a>
				</div>
			</td>
			<td align="center" width="1%" nowrap>
				<div class="web2_boton_submenu" onclick="mClk('../home/?tpl=home&evento=cortos_list&material=0&genero=5')" valign="absmiddle" id="cortos_videoclip" onmouseover="mOvr(this, 'web2_boton_submenu_hover')" onmouseout="mOut(this, 'web2_boton_submenu')">
				<a class="web2_boton_submenu_a" href="../home/?tpl=home&evento=cortos_list&material=0&genero=5" id="cortos_videoclip">videoclip</a>
				</div>
			</td>
			<td align="center" width="1%" nowrap>
				<div class="web2_boton_submenu" onclick="mClk('../home/?tpl=home&evento=cortos_list&material=0&genero=6')" valign="absmiddle" id="cortos_videominuto" onmouseover="mOvr(this, 'web2_boton_submenu_hover')" onmouseout="mOut(this, 'web2_boton_submenu')">
				<a class="web2_boton_submenu_a" href="../home/?tpl=home&evento=cortos_list&material=0&genero=6" id="cortos_videominuto">videominuto</a>
				</div>
			</td>
<!--			<td align="center" width="1%" nowrap>
				<div class="web2_boton_submenu" onclick="mClk('../vistos/')" valign="absmiddle">
				<a class="web2_boton_submenu_a" href="../vistos/">+vistos</a>
				</div>
			</td>
			<td align="center" width="1%" nowrap>
				<div class="web2_boton_submenu" onclick="mClk('../ranking/')" valign="absmiddle">
				<a class="web2_boton_submenu_a" href="../ranking/">ranking</a>
				</div>
			</td>-->
			<td align="center" width="100%" class="boton_submenu" nowrap>&nbsp;</td>
		</tr></table>
		</div>

		<div id="submenu_largos" style="display: none">
		<table border="0" cellspacing="0" cellpadding="0" width="100%" class="botonera_secundaria"><tr>
			<td align="center" width="1%" nowrap>
				<div class="web2_boton_submenu" onclick="mClk('../home/?tpl=home&evento=cortos_list&material=1&genero=7')" valign="absmiddle" id="cortos_trailer" onmouseover="mOvr(this, 'web2_boton_submenu_hover')" onmouseout="mOut(this, 'web2_boton_submenu')">
				<a class="web2_boton_submenu_a" href="../home/?tpl=home&evento=cortos_list&material=1&genero=7" id="cortos_trailer">trailer</a>
				</div>
			</td>
			<td align="center" width="1%" nowrap>
				<div class="web2_boton_submenu" onclick="mClk('../home/?tpl=home&evento=cortos_list&material=1&genero=1')" valign="absmiddle" id="cortos_ficcion" onmouseover="mOvr(this, 'web2_boton_submenu_hover')" onmouseout="mOut(this, 'web2_boton_submenu')">
				<a class="web2_boton_submenu_a" href="../home/?tpl=home&evento=cortos_list&material=1&genero=1" id="cortos_ficcion">ficci&oacute;n</a>
				</div>
			</td>
			<td align="center" width="1%" nowrap>
				<div class="web2_boton_submenu" onclick="mClk('../home/?tpl=home&evento=cortos_list&material=1&genero=2')" valign="absmiddle" id="cortos_documental" onmouseover="mOvr(this, 'web2_boton_submenu_hover')" onmouseout="mOut(this, 'web2_boton_submenu')">
				<a class="web2_boton_submenu_a" href="../home/?tpl=home&evento=cortos_list&material=1&genero=2" id="cortos_documental">documental</a>
				</div>
			</td>
			<td align="center" width="1%" nowrap>
				<div class="web2_boton_submenu" onclick="mClk('../home/?tpl=home&evento=cortos_list&material=1&genero=4')" valign="absmiddle" id="cortos_animacion" onmouseover="mOvr(this, 'web2_boton_submenu_hover')" onmouseout="mOut(this, 'web2_boton_submenu')">
				<a class="web2_boton_submenu_a" href="../home/?tpl=home&evento=cortos_list&material=1&genero=4" id="cortos_animacion">animaci&oacute;n</a>
				</div>
			</td>
			<td align="center" width="100%" class="boton_submenu" nowrap>&nbsp;</td>
		</tr></table>
		</div>



		<!--div id="submenu_secciones" style="display: none">
		<table border="0" cellspacing="0" cellpadding="0" width="100%" class="botonera_secundaria"><tr>
			<td align="center" width="1%" nowrap>
				<div class="web2_boton_submenu" onclick="mClk('../agenda/?tpl=home_agenda&area=Convocatoria')" valign="absmiddle" id="agenda_convocatoria" onmouseover="mOvr(this, 'web2_boton_submenu_hover')" onmouseout="mOut(this, 'web2_boton_submenu')">
				<a class="web2_boton_submenu_a" href="../agenda/?tpl=home_agenda&area=Convocatoria" id="agenda_convocatoria">convocatorias</a>
				</div>
			</td>
			<td align="center" width="1%" nowrap>
				<div class="web2_boton_submenu" onclick="mClk('../agenda/?tpl=home_agenda&area=Festival')" valign="absmiddle" id="agenda_festival" onmouseover="mOvr(this, 'web2_boton_submenu_hover')" onmouseout="mOut(this, 'web2_boton_submenu')">
				<a class="web2_boton_submenu_a" href="../agenda/?tpl=home_agenda&area=Festival" id="agenda_festival">festivales</a>
				</div>
			</td>
			<td align="center" width="1%" nowrap>
				<div class="web2_boton_submenu" onclick="mClk('../home/?tpl=home_agenda_ciclo')" valign="absmiddle" id="agenda_ciclo" onmouseover="mOvr(this, 'web2_boton_submenu_hover')" onmouseout="mOut(this, 'web2_boton_submenu')">
				<a class="web2_boton_submenu_a" href="../home/?tpl=home_agenda_ciclo" id="agenda_ciclo">ciclos</a>
				</div>
			</td>
			<td align="center" width="1%" nowrap>
				<div class="web2_boton_submenu" onclick="mClk('../agenda/?tpl=home_agenda&area=Cinevivo')" valign="absmiddle" id="agenda_cinevivo" onmouseover="mOvr(this, 'web2_boton_submenu_hover')" onmouseout="mOut(this, 'web2_boton_submenu')">
				<a class="web2_boton_submenu_a" href="../agenda/?tpl=home_agenda&area=Cinevivo" id="agenda_cinevivo">eventos cinevivo</a>
				</div>
			</td>
			<td align="center" width="100%" class="boton_submenu" nowrap>&nbsp;</td>
		</tr></table>
		</div-->
		
		<div id="submenu_cinevivo" style="display: none" class="botonera_secundaria">
		<table border="0" cellspacing="0" cellpadding="0" width="100%"><tr>
			<td align="center" width="1%" nowrap>
				<div class="web2_boton_submenu" onclick="mClk('../home/?tpl=home_que')" valign="absmiddle" id="que_es" onmouseover="mOvr(this, 'web2_boton_submenu_hover')" onmouseout="mOut(this, 'web2_boton_submenu')">
				<a class="web2_boton_submenu_a" href="../home/?tpl=home_que" id="que_es">qu&eacute; es cinevivo</a>
				</div>
			</td>
			<td align="center" width="1%" nowrap>
				<div class="web2_boton_submenu" onclick="mClk('../home/?tpl=home_quienes')" valign="absmiddle" id="quienes_somos" onmouseover="mOvr(this, 'web2_boton_submenu_hover')" onmouseout="mOut(this, 'web2_boton_submenu')">
				<a class="web2_boton_submenu_a" href="../home/?tpl=home_quienes" id="quienes_somos">quienes somos</a>
				</div>
			</td>
			<td align="center" width="1%" nowrap>
				<div class="web2_boton_submenu" onclick="mClk('../home/?tpl=home_contacto')" valign="absmiddle" id="contacto" onmouseover="mOvr(this, 'web2_boton_submenu_hover')" onmouseout="mOut(this, 'web2_boton_submenu')">
				<a class="web2_boton_submenu_a" href="../home/?tpl=home_contacto" id="contacto">contacto</a>
				</div>
			</td>
			<td align="center" width="1%" nowrap>
				<div class="web2_boton_submenu" onclick="mClk('../home/?tpl=home_apoya')" valign="absmiddle" id="apoya" onmouseover="mOvr(this, 'web2_boton_submenu_hover')" onmouseout="mOut(this, 'web2_boton_submenu')">
				<a class="web2_boton_submenu_a" href="../home/?tpl=home_apoya" id="apoya">cinevivo apoya</a>
				</div>
			</td>
			<td align="center" width="1%" nowrap>
				<div class="web2_boton_submenu" onclick="mClk('../home/?tpl=home_faq')" valign="absmiddle" id="faq" onmouseover="mOvr(this, 'web2_boton_submenu_hover')" onmouseout="mOut(this, 'web2_boton_submenu')">
				<a class="web2_boton_submenu_a" href="../home/?tpl=home_faq" id="faq">FAQ</a>
				</div>
			</td>
			<td align="center" width="1%" nowrap>
				<div class="web2_boton_submenu" onclick="mClk('../home/?tpl=home_links')" valign="absmiddle" id="links" onmouseover="mOvr(this, 'web2_boton_submenu_hover')" onmouseout="mOut(this, 'web2_boton_submenu')">
				<a class="web2_boton_submenu_a" href="../home/?tpl=home_links" id="links">links</a>
				</div>
			</td>
			<td align="center" width="100%" nowrap>&nbsp;</td>
		</tr></table>
		</div>
		
		<div id="submenu_subi" style="display: none" class="botonera_secundaria">
		<table border="0" cellspacing="0" cellpadding="0" width="100%"><tr>
			<td align="center" width="1%" nowrap><h2><a title="bases y condiciones" class="boton_submenu" href="../home/?tpl=home_bases">bases y condiciones</a></h2></td>
			<td align="center" width="1%" nowrap><a title="ficha de inscripcion" class="boton_submenu" href="<!-- BEGIN Subi tu corto::Ficha --><!-- BEGIN Nota --><!-- BEGIN word --><!-- BEGIN Link -->../getmmedia.php/{links.fname}?idlink={links.idlink}<!-- END Link --><!-- END word --><!-- END Nota --><!-- END Subi tu corto::Ficha -->">descargar ficha de inscripci&oacute;n</a></td>
			<td align="center" width="1%" nowrap><h2><a title="centros de recepci&oacute;n (CRC)" class="boton_submenu" href="../home/?tpl=home_crc">centros de recepci&oacute;n (CRC)</a></h2></td>
			<td align="center" width="100%" nowrap>&nbsp;</td>
		</tr></table>
		</div>



</td>
<td width="10"></td>
</table>





<!--<br>
<table border="0" cellspacing="0" cellpadding="0" width="90%" class="botonera_secundaria">
<tr>
	<td width="100%" class="sub_menu">
	</td>
</tr>
</table>-->
<!-- <br class="idioma"> -->

<script>
	var submenu_activo = "";
	var idsubmenu_activo = "";
	if (getCookie("cinevivo.boton_press")) {
		submenu_activo = getCookie("cinevivo.boton_press");
		$('boton_'+submenu_activo).className = 'web2_boton_menu_press';
		$('boton_'+submenu_activo+'_a').className = "web2_boton_menu_a_hover";
		$('submenu_vacio').style.display = "none";
		$('submenu_' + submenu_activo).style.display = "block";
		idsubmenu_activo = "boton_" + submenu_activo;
	} else {
		submenu_activo = "cortos";
		$('boton_cortos').className = 'web2_boton_menu_press';
		$('boton_'+'cortos'+'_a').className = "web2_boton_menu_a_hover";
		$('submenu_vacio').style.display = "none";
		$('submenu_cortos').style.display = "block";
		idsubmenu_activo = "boton_" + submenu_activo;
	}

	BindById('boton_cortos',    'mouseover', subMenu);
	BindById('boton_largos',    'mouseover', subMenu);
	BindById('boton_vod', 'mouseover', subMenu);
	BindById('boton_editorial', 'mouseover', subMenu);
	BindById('boton_secciones', 'mouseover', subMenu);
	BindById('boton_cinevivo',  'mouseover', subMenu);

/*	$('palabras').value = getCookie("cinevivo.palabras");
	if ( $('palabras').value == '' ) $('palabras').value = "Buscar...";*/
// 	BindById('boton_cortos',    'mouseout', exitSubMenu);
// 	BindById('boton_editorial', 'mouseout', exitSubMenu);
// 	BindById('boton_secciones', 'mouseout', exitSubMenu);
// 	BindById('boton_cinevivo',  'mouseout', exitSubMenu);

	function subMenu(e) {
// 		alert("A");
		$('submenu_'+submenu_activo).style.display = "none";
		$('submenu_'+this.getAttribute('name')).style.display = "block";
		submenu_activo = this.getAttribute('name');
		if(idsubmenu_activo) {
			$(idsubmenu_activo+'_a').className = "web2_boton_menu_a";
			$(idsubmenu_activo).className = 'web2_boton_menu';
		}
		setCookie("cinevivo.boton_press", this.getAttribute('name'));
		$('boton_'+this.getAttribute('name')+'_a').className = "web2_boton_menu_a_hover";
		this.className = 'web2_boton_menu_press';
		idsubmenu_activo = this.getAttribute('id');
	}

	function exitSubMenu(e) {
// 		alert("Bs");
		$('submenu_'+submenu_activo).style.display = "none";
// 		$('submenu_'+this.getAttribute('name')).style.display = "block";
		submenu_activo = "";
		if(idsubmenu_activo) {
			$(idsubmenu_activo).className = 'web2_boton_menu';
		}
		setCookie("cinevivo.boton_press", "");
		this.className = 'web2_boton_menu';
		idsubmenu_activo = 0;
	}

/*	function doBuscar() {
		setCookie("cinevivo.palabras", $('palabras').value);
		document.form_buscador.submit();
	}
*/
</script>
