<table border="0" cellspacing="0" cellpadding="0" align="center">
<!-- BEGIN Publicidades::{publicidades} -->
<!-- BEGIN Nota -->
<tr><td>
<table border="0" cellspacing="0" cellpadding="1" align="center">
	<tr>
	<!-- BEGIN image-gif -->
	<!-- BEGIN Link --><td>
	<a title="{contenidos.titulo}" href="{links.url}"><img src="{links_tipos.defaultpath}{links.idlink}" border="0" align="absmiddle" alt="publicidades de cinevivo"></a>
	</td><!-- END Link -->
	<!-- END image-gif -->
	</tr>
</table>
</td></tr>
<!-- END Nota -->
<!-- END Publicidades::{publicidades} -->


                <table border="0" cellspacing="0" cellpadding="0" width="100%"><tr>
                <td width="1%"><img src="../images/barras/roja_left.jpg" border="0" align="absmiddle" alt="encuesta"></td>
                <td width="100%" class="barra_roja_back" align="left"><h3 class="barra_roja_back" >&nbsp;&nbsp;encuesta</h3></td>
                <td width="1%"><img src="../images/barras/roja_right.jpg" border="0" align="absmiddle" alt="encuesta"></td>
                </tr></table>

                <table border="0" cellpadding="0" cellspacing="8" width="100%" align="right">
                        <tr><td>
                <!-- BEGIN Home::Encuestas -->
                <!-- BEGIN Home::Encuestas.limite -->1<!-- END Home::Encuestas.limite -->
                <!-- BEGIN Nota --><!-- BEGIN Encuesta -->
                <div id="{contenidos.idcontenido}" class="encuesta">
                        <div class="titulo_encuesta"><b>{contenidos.titulo}</b></div>
                        <ul>
                        <!-- BEGIN Opciones -->
                        <li>
                        <a title="{contenidos.titulo}" href="javascript:void(0);" class="btnVotar" idcontenido="{opciones.idcontenido}" idopcion="{opciones.idopcion}">
                        > {opciones.descripcion}</a></li>
                        <!-- END Opciones -->
                        </ul>
                </div>
                <!-- END Encuesta --><!-- END Nota -->
                <!-- END Home::Encuestas -->
                        </td></tr>
                </table>
</table>



