<form name="form" method="post" action="?" enctype="multipart/form-data">
	<input type="hidden" name="idficha" value="{idficha}">
<input type="hidden" name="event" value="cargar_foto">
<center>
<table width="1%" border="0" cellpadding="4" cellspacing="0">
<tr>
	<td align="center" class="contenidos_light" width="1%" nowrap><b>Subir Imagen</b></td>
	<td class="form">
        <input type="file" name="mmedia_file" class="ta">
        </td>

	<td class="form">
       <input type="submit" value="Subir">
	</td>
</tr>
</table>
</form>


